body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #ec0a0a;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #07d412;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003f73;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.message a {
    color: #00539C;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
